<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengxin.mapper.HeadlineMapper">

    <resultMap id="BaseResultMap" type="com.fengxin.pojo.Headline">
            <id property="hid" column="hid" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="article" column="article" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="publisher" column="publisher" jdbcType="INTEGER"/>
            <result property="pageViews" column="page_views" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="INTEGER"/>
    </resultMap>

<!--    portalVo.keyWords:传入的参数 @Param ("portalVo") PortalVo portalVo-->
    <select id="selectMyPage" resultType="java.util.Map">
        SELECT hid,title,type,page_views pageViews,TIMESTAMPDIFF(HOUR ,create_time,NOW()) pastHours, publisher
        FROM news_headline WHERE is_deleted = 0
        <if test="portalVo.keyWords != null">
            AND title LIKE CONCAT('%',#{portalVo.keyWords},'%')
        </if>
        <if test="portalVo.type != 0">
            AND type = #{portalVo.type}
        </if>
    </select>

<!--    查询头条详细信息-->
    <select id="selectHeadlineDetail" resultType="java.util.Map">
        SELECT h.hid,h.title,h.article,h.type,t.tname typeName,h.page_views pageViews,TIMESTAMPDIFF(HOUR ,h.update_time,NOW()) pastHours,h.publisher,u.nick_name author
        FROM news_headline h LEFT JOIN news_type t ON h.type = t.tid
        LEFT JOIN news_user u ON h.publisher = u.uid
        WHERE h.hid = #{hid}
    </select>

<!--    查询新闻信息-->
    <select id="selectNewsInformation" resultType="java.util.Map">
        SELECT hid,title,article,type
        FROM news_headline
        WHERE hid = #{hid}
    </select>
</mapper>
